<div class="testimonials" *ngFor = "let data of blogData" >
    <div class="row">
      <div class="col-lg-1 offset-lg-1"></div>
        <div class="col-lg-7 offset-lg-1">
          <div class="testimonials_container">
            <div class="testimonials_container_inner"></div>
            <div class="owl-carousel owl-theme testimonials_slider">
              <div class="owl-item testimonials_item d-flex flex-column align-items-center justify-content-center text-center">
                <div class="testimonials_content">
                  <div class="test_name">{{data.title}}</div>
                  <div class="test_title"> -  {{data.author}}</div>
                  <p>{{data.contentSummary}}</p>
                </div>
              </div>
            </div>	
          </div>
        </div>
        <div class="col-lg-1 offset-lg-1"></div>
        <div class="col-lg-3 offset-lg-1" >
            <div class="testimonials_container">
                <div class="testimonials_container_inner"></div>
                <div class="owl-carousel owl-theme testimonials_slider">
                  <div class="owl-item testimonials_item d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="testimonials_content">
                      <div class="test_name">tags</div>
                      <!-- <div class="test_title">AUTHOR</div> -->
                      <p *ngFor="let i of data.tags"> {{i}} </p>
                    </div>
                  </div>
                </div>	
              </div>
        </div>	
      </div>	
    </div>
